<% /* SCENES SINGLE PAGE */ %>
<% include ../includes/header %>
<section class="<%= page_slug %>">
	<header class="single-event-head col-md-12">
	    <h3 class="col-md-12"><small>Scene:</small> <%=scene.title%></h3>
		<section class="col-md-12 duration-header">
			<h3><small>Duration: <%= scene.duration %></small></h3>
		</section>
	</header>
	<section class="row pull-left <%= page_slug %> content col-md-12">
		<aside class="col-md-3 pull-left">
			<section class="panel panel-default">
				<header class="panel-heading">
					<h3 class="panel-title">Clips <button type="button" class="btn btn-default btn-sm" data-toggle="modal" data-target="#new_clip_modal"><small>Add New Clip +</small></button></h3>
				</header> <!-- .panel-heading -->
				<ul class="list-group">
					<% for(var i = 0; i<scene.clips.length; i++){ %>
					<li class="list-group-item">
						<section class="btn-group-vertical">
							<button class="btn btn-default btn-xs dropup scene-order scene-order-up <% if(i == 0){%>disabled<%}%>"><span class="caret"></span></button>
							<button class="btn btn-default btn-xs scene-order scene-order-down <% if(i == scene.clips.length-1){%>disabled<%}%>"><span class="caret"></span></button>
						</section>
						<button type="button" data-scene-id="<%=scene.clips[i]._id%>" class="sub-nav scene-title <%=scene.clips[i].slug %> btn btn-link btn-lg "><%=scene.clips[i].title%></button>
					</li>
					<% } %>
				</ul>
			</section><!-- .panel .panel-default -->
		</aside>
		<%/* Must check for specific single scene if we are loading that currently defaults to the first scene */ %>
		<% if(scene.clips.length > 0){ %>
		<section class="col-md-9 clip-view pull-right">
			<section class="panel panel-default">
				<header class="panel-heading scene-detail-head">
					<h3 class="panel-title clip-title"><%= scene.clips[0].title %></h3>
				</header>
				<section id="clip-contents" class="row col-md-12">						
					<form action="/scenes/<%=scene.clips[0]._id%>" method="post">
						<input type="hidden" name="scene_id" value="<%= scene._id %>">
						<article id="clip-data" class="row col-md-4">
							<%/* Must Check for empty Scenes and serve up default content */%>
							<% /* Update Scenes Slug etc for action */ %>
								<section class="form-group">
									<label for="title" >Clip Title</label>
									<input type="text"  class="clip-title form-control" name="title" id="title" value="<%= scene.clips[0].title %>">
								</section>
								<section class="form-group">
									<label for="layout">Clip Layout</label>
									<select class="form-control clip-layout" name="layout" id="layout">
									<%
										for(var i =0; i<SCENE_TYPES.length; i++){ %>
										 <option  value="<%=i%>" <% if(scene.clips[0].layout == i){ %> selected <% }%>><%=SCENE_TYPES[i]%></option>
										 <% } %>
									</select>
									<p class="help-block">Select a layout</p>
								</section>
								<section class="form-group">
									<a class="thumbnail">
										<img src="/imgs/sculpture_<%= scene.clips[0].layout %>.jpg"/>
									</a>
								</section><!-- .form-group -->
								<section class="btn-group">
									<button type="submit" class="btn btn-primary btn-block btn-sm green">Save Changes</button>
									<!--<button type="button" class="btn btn-default btn-block btn-sm">Exit Without Saving</button>-->
									<button type="button" class="btn btn-danger btn-block btn-sm red scene-delete">Delete This Clip</button>
								</section>
						</article><!-- #scene-data -->
						
						
						<article id="zone-data" class="row col-md-8 pull-right">
								
								<article class="row zone-single zone-single-0">
										<section class="col-md-6 col-md-offset-1 zone-contents row">
										
											<section class="form-group">
												<%  var title = "Title"; %>
												<input class="zone-title" name="zones[0][title]" value="<%= title %>" />
											</section>
											<section class="form-group">
												<label for="name">File
													<button type="button" class="btn btn-xs btn-link" data-toggle="modal" data-target="#new_file_modal">Upload</button>
												</label>
												<select name="zones[0][file]" class="form-control zone-file show-tick">
													<option value="none">No File</option>
													<% for(var j = 0; j< files.length; j++){ %>
														<option value="<%= files[j]._id %>"><%= files[j].title %></option>
													<% } %>
												</select>
											</section><!--.form-group -->
											
											<section class="form-group">
												<label>Map Locations</label>
												<select name="zones[0][map_type]" class="form-control zone-map-type">
													<option value="none" >None</option>
													<option value="single">Single</option>
													<option value="multiple">Multiple</option>
												</select>
											</section>
											
											<section class="form-group">
												<label>Text</label>
												<select name="zones[0][text_type]" class="form-control zone-text-type">
													<option value="none">None</option>
													<option value="single">Single</option>
													<option value="multiple">Multiple</option>
												</select>
											</section>
											
										</section><!-- .zone-contents -->
										<section class="col-md-5 zone-image row pull-right">										
											<a class="thumbnail">
												<img data-src="holder.js/100%x150/industrial/text:No File Associated" />
											</a>
										</section><!-- .zone-image -->
									</article> <!-- .row .zone-single -->
							
						</article><!-- #zone-data -->
					</form>
				</section> <!-- #scene-contents .row -->
			</section> <!-- .panel -->
		</section> <!-- .scene-view -->
		<% }//end if(event.scenes.length> 0) %>
	</section><!-- .row .<%= page_slug %> .content -->
</section> <!-- .<%= page_slug %> -->
<% /* Print all the EJS data passed from the server for reference and debugging only */ %>

<%//-JSON.stringify(locals) %>
<% include ../includes/footer %>