<%/* EVENTS INDEX PAGE */%>
<% include ../includes/header %>
<section class="<%= page_slug %>">
	<header class="row">
	    <h1 class="col-md-6"><%= title %> <small>Total: <%= events.length%></small></h1>
		<section class="col-md-6 add-btn">
			<button type="button" class="btn btn-default navbar-btn" data-toggle="modal" data-target="#new_event_modal">+</button>
			<p><small>Add New Event</small></p>
		</section>
	</header>
    <section class='current_events'>
		<div class="panel panel-default">
		  <!-- Our Events Table  -->
		  <div class="panel-heading">
		  	<ul class="event row panel-title" >
		  		<!--<li class="col-md-1 panel-title">+</li>-->
		  		<li class="col-md-4 panel-title">Title</li>
		  		<li class="col-md-2 panel-title">Event Type</li>
		  		<li class="col-md-2 panel-title">Duration</li>
		  		<li class="col-md-2 panel-title">Scenes</li>
		  		<li class="col-md-2 panel-title">Actions</li>
		  	</ul>
		  </div><!-- .panel-heading -->
		
		  <!-- Table body -->
		  <ul class="list-group">
		  	<% events.forEach(function(event,i){ %>
		    <li class="list-group-item">
			    	<ul class="event row" >
			    		<form class="event <%=event.slug%>" method="post" action="/events/<%=event.slug%>">
							<!--<li class="col-md-1">
								<input type="checkbox" >
							</li>-->
							<li class="col-md-4">						
								<input class="form-control" type="text" name="title" value="<%=event.title%>">
							</li>
							<li class="col-md-2">
								<select name="anim_type" class="form-control show-tick">
									<option <% if(event.anim_type === "sales"){%> selected <%}%> value="sales">Sales</option>
									<option <% if(event.anim_type === "ambient"){%> selected <%}%> value="ambient">Ambient</option>
								</select>
							</li>
							<li class="col-md-2"><%= event.duration %> </li>
							<li class="col-md-2 scene-num">
								&nbsp;<%=event.scenes.length%>&nbsp;&nbsp;
								<div class="btn-group">
									<% if(event.scenes.length ==0){ %>
										<button type="button" class="btn btn-danger btn-xs event-view">Add&nbsp;Scenes&nbsp;&raquo;</button>
									<% }else{ %>
									<button type="button" class="btn btn-default btn-xs event-view">View&nbsp;&&nbsp;Edit&nbsp;&raquo;</button>
									<% } %>
								</div>
							</li>
							<li class="col-md-2">
								<div class="btn-group">
									  <button type="button" class="btn btn-default btn-xs event-update green">Update</button>
									  <button type="button" class="btn btn-default btn-xs event-delete red">Delete</button>
								</div>
							</li>
						</form>
					</ul>
		    </li>
		    <% }) //end events.forEach %>
		  </ul><!-- ul.list-group -->
	</div>
    </section>
</section> <!-- .<%= page_slug %> -->   
<% include ../includes/footer %>