<%
	//GLOBAL VARS

	//locals.SCENE_TYPES = ["Full Immersion","Single Wall Sculpture","Double Wall Sculpture"]
	//locals.EVENT_TYPES = ["Default","Ambient","Gastronomy", "Parks and Leisure"]

%>

<!DOCTYPE html>
<html lang="en">
  <head>
    <title><%= locals.title %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='/css/vendor/bootstrap.min.css' />
    <link rel='stylesheet' href='/css/vendor/bootstrap-select.min.css'/>

    <link rel="stylesheet/less" type="text/css" href="/stylesheets/style.less" />
    <link rel='stylesheet' href='/css/style.css'/>
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->

  </head>
  <body class="<%= locals.page_slug %> col-md-12">
  	<section class="container col-md-12 row">
	  	<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
	  		<div class="navbar-header">
		  		<a class="navbar-brand" href="/">Media Manager</a>
	  		</div>
	  		<ul class="nav navbar-nav navbar-left">

				<li class="dropdown <%if(current.indexOf('events') >=0){%> active <%}%> ">
					<a class="dropdown-toggle" data-toggle="dropdown">Events <b class="caret"></b></a>
					<ul class="dropdown-menu">
					<% EVENT_TYPES.forEach(function(type){ %>
						<li><a href="/events/?type=<%= utils.makeSlug(type) %>"><%= type %></a></li>
					<% }) %>
					</ul>
				</li>
				<li<%if(current.indexOf('files')  >=0){%> class="active" <%}%>><a href="/files">File Library</a></li>
				<li<%if(current.indexOf('render') >=0){%> class="active" <%}%>><a href="/renderqueue">Render Queue</a></li>
				<% if(auth == 'admin'){ %> <li<%if(current.indexOf('timeline') >=0){%> class="active" <%}%>><a href="/timeline">Timeline</a></li> <% } %>

	  		</ul>
	  		<ul class="nav navbar-nav navbar-right">
	  			<li><a href="">Welcome, <%= auth %></a></li>
	  			<li><a href="/logout">Log out</a></li>
	  		</ul>
	  	</nav>
