<% /* CONCAT INDEX PAGE  */ %>
<% include ../includes/header %>

<%

//reobjectify our
scenes = JSON.stringify(scenes);
scenes = JSON.parse(scenes)

%>

<section class="<%= page_slug %> col-md-12">

	<header>
		<h1 class="col-md-6 pull-left">Timeline<small>&nbsp;Total Scenes: <%= scenes.length%></small></h1>
		<section class="col-md-4 pull-right add-btn">
				<a href="/timeline/concat" type="button" class="btn btn-default navbar-btn concatenate green" >Concatenate</a>
		</section>
		<section class="col-md-4 pull-right add-btn">
			<a href="/timeline/make" type="button" class="btn btn-default navbar-btn make-timeline" >MAKE Timeline</a>
		</section>
	</header>
	<section class='current_events row col-md-12'>

		<div class="panel panel-default">
			<!-- Our Events Table  -->
			<div class="panel-heading">
				<ul class="event row panel-title" >
					<!-- <li class="col-md-1 panel-title">+</li>-->
					<li class="col-md-3 panel-title">Event</li>
					<li class="col-md-3 panel-title">Scene Title</li>
					<!-- <li class="col-md-3 panel-title">Clip Title</li> -->
					<li class="col-md-2 panel-title">Duration</li>
					<!-- <li class="col-md-1 panel-title">Actions</li> -->
				</ul>
			</div><!-- .panel-heading -->

			<!-- Table body -->
			<% if(scenes.length> 0){ %>
				<ul class="list-group">
					<%
					scenes.forEach(function(scene,i){
						// var scene = _.findWhere(scenes,{_id:item.scene_id})
						//console.log("scene: "+i);
						//console.log(scene);
						%>
						<li class="list-group-item">
							<ul class="event row" >
								<form method="POST" action="/timeline/update">
								<li class="col-md-3"><%= scene.type %></li>
								<li class="col-md-3"><%= scene.title %></li>
								<li class="col-md-4">
									<div class="col-lg-3">
										<input class="form-control" type="text" name="duration" value="<%= scene.duration %>"/>
										<input type="hidden" value="<%= scene._id %>" name="scene_id"/>
									</div>milliseconds</li>
								<li class="col-md-2"><button type="submit" class="btn btn-default btn-xs scene-view">Save &raquo; </button></li>
								</form>
							</ul>
						</li><!-- .list-group-item -->
						<% }) %>
					</ul><!-- .list-group -->
				<% }else{ %>
					<h3>Nothing in Timeline.</h3>
					<% } %>
				</section><!--.<%= page_slug %> -->
				<% include ../includes/footer %>
