<%/* FILES INDEX PAGE */%>
<% include ../includes/header %>

<% 
	/* for sorting mongo db items as elements */
	clips = JSON.stringify(clips)
	clips = JSON.parse(clips)
	
	files = JSON.stringify(files)
	files = JSON.parse(files)
	
	
%>

<section class="<%= page_slug %>">
	<header class="row">
	    <h1 class="col-md-6"><%=title%> <small> Total: <%= files.length%></small></h1>
		<section class="col-md-6 add-btn">
			<button type="button" class="btn btn-default navbar-btn" data-toggle="modal" data-target="#new_file_modal">Upload New File</button>
		</section>
	</header>
    <section class='current_events'>
		<div class="panel panel-default">
		  <!-- Our Events Table  -->
		  <div class="panel-heading">
		  	<ul class="event row panel-title" >
		  		<li class="col-md-3 panel-title">Title</li>
		  		<li class="col-md-3 panel-title">Media</li>
		  		<li class="col-md-2 panel-title">Appears in:</li>
		  		<li class="col-md-2 panel-title">Actions</li>
		  	</ul>
		  </div><!-- .panel-heading -->
		
		  <!-- Table body -->
		  <ul class="list-group">
		  	<% /* begin for loop */ %>
		  	<% files = _.sortBy(files,function(file){
		  		//
		  		if(!file.last_edited) return new Date(file.created_at)
		  		else return new Date(file.last_edited);
		  	}) 
		  		files.reverse()
		  	%>
		  	<% files.forEach(function(_file,i){%>
		    <li class="list-group-item">
			    	<ul class="event row" >
			    		<form class="file <%= _file.slug %>" method="post" enctype="multipart/form-data" action="/files/<%= _file.slug %>">
							<input type="hidden" name="id" value="<%= _file._id%>">
							<li class="col-md-3 file-title"> <!-- TITLE -->						
								<input class="form-control" type="text" name="title" value="<%= _file.title %>">
								<p>File type: <%= _file.type %></p>
								<p>Size: <%= Math.round(_file.size/1000) %> KB</p>
							</li>
							<li class="col-md-3"> <!-- MEDIA -->
								<a href="#" class="thumbnail">
									<img src="<%=_file.path%>"/>
								</a>
								<!--<button type="button" class="btn btn-default btn-sm" data-toggle="modal" data-target="#new_asset_modal">Replace</button>-->
								<button type="button" class="btn btn-default btn-sm file-replace">Replace</button>
								<input style="display:none;"class="form-control" type="file" name="content" >

							</li>
							<li class="col-md-2 scene-num"><!-- ASSOCIATED SCENES -->
								<div class="asset-scene-list">
									<ul>
										<% /* begin for loop*/ 
											//Note:: This needs modification, we don't actually want the title of the asset, but the title of 
											//the scene which the asset lives within
											//it will be important to surface this data as the current form makes little sense.
											
											var associatedAssets = _.where(clips,{file:_file._id})
											
											associatedAssets.forEach(function(clip,j){
										%>
											<li><a><%=clip.title%></a></li>	
										<%	})
										%>
										
										<% /* end for loop */ %>
									</ul>
								</div>
							</li>
							<li class="col-md-2"> <!-- UPDATE DELTE BTNS -->
								<div class="btn-group">
									  <button type="button" class="btn btn-default btn-xs file-update green">Update</button>
									  <button type="button" class="btn btn-default btn-xs file-delete red">Delete</button>
								</div>
							</li>
						</form>
					</ul>
		    </li>
		    <% }) %>
		    <% /* end for loop */ %>
		  </ul><!-- ul.list-group -->
	</div>
    </section>
</section> <!-- .<%= page_slug %> -->   
<% include ../includes/footer %>